<div class="container">
    <mat-card class="room-card" appearance="outlined">
    <mat-card-header class="room-card-header">
        <mat-card-title class="card-title">
            <p>{{ roomNumber }}</p>
            <div class="room-status">
                <button matButton="filled" disabled>Open</button>
            </div>
        </mat-card-title>
        <mat-card-subtitle class="dr-name">Dr. Kenneth Miranda</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="room-card-content">
        <div class="doctor-description">
            <p>
                Internal medicine, general consultation, routine checkups, medical certificates, and follow-up consultations.
            </p>
        </div>
        <div class="current-queue">
            <p>Currently Serving</p>
            <h2>{{ queueNumber }}</h2>
        </div>
    </mat-card-content>
    </mat-card>
</div>